In [3]:
import sqlite3

In [15]:
con=sqlite3.connect("information.db")
cursor=con.cursor()

In [16]:
cursor.execute("""CREATE TABLE INFO 
            (Name      TEXT,
             Job_Title TEXT,
             Salary    INT,
             Adress CHAR(50))""")

In [53]:
cursor.execute("INSERT INTO INFO VALUES('Rustamov','Data Engineer',100000,'Baku')")
cursor.execute("INSERT INTO INFO VALUES('Qedirli','Software Developer',30000,'Ganja')")
cursor.execute("INSERT INTO INFO VALUES('Aliyev','CEO',1000000,'Shusha')")
con.commit()

In [54]:
def informations():
    cursor.execute("SELECT * FROM INFO")
    arr= cursor.fetchall()
    for i in arr:
        print("""
        Name: {0}\n
        Job: {1}\n
        Salary: {2}\n
        Adress: {3}\n\n""".format(i[0],i[1],i[2],i[3]))
        print("_"*30)
informations()

        Name: Rustamov

        Job: Data Engineer

        Salary: 100000

        Adress: Baku


______________________________

        Name: Qedirli

        Job: Software Developer

        Salary: 30000

        Adress: Ganja


______________________________

        Name: Aliyev

        Job: CEO

        Salary: 1000000

        Adress: Shusha


______________________________

In [55]:
cursor.execute("UPDATE INFO SET Salary=500000 WHERE Name=='Rustamov'")
con.commit()
informations()

        Name: Rustamov

        Job: Data Engineer

        Salary: 500000

        Adress: Baku


______________________________

        Name: Qedirli

        Job: Software Developer

        Salary: 30000

        Adress: Ganja


______________________________

        Name: Aliyev

        Job: CEO

        Salary: 1000000

        Adress: Shusha


______________________________

In [56]:
cursor.execute("DELETE FROM INFO WHERE Name=='Qedirli'")
con.commit()
informations()

        Name: Rustamov

        Job: Data Engineer

        Salary: 500000

        Adress: Baku


______________________________

        Name: Aliyev

        Job: CEO

        Salary: 1000000

        Adress: Shusha


______________________________